# Overview #

The datasets are provided by [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Wine+Quality) and are made up of two datasets that are related to red and white variants of the Portuguese "Vinho Verde" wine. The datasets will be used to solve the following classification and regression tasks:
1. Predicting the quality of red wine (rating from 0 - 10).
2. Predicting the quality of white wine (rating from 0 - 10).
3. Predicting the type of wine (white or red).
4. Predicting the class quality of wine (both white and red; class quality -> poor, normal, excellent).

In [1]:
import csv
import os
import pandas as pd

DATASET_DIR = 'dataset'

In [2]:
white_uci_df = pd.read_csv(os.path.join(DATASET_DIR, 'winequality-white.csv'))  # original white wine dataset
red_uci_df = pd.read_csv(os.path.join(DATASET_DIR, 'winequality-red.csv'))  # original red wine dataset

In [3]:
white_uci_df.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...

In [4]:
red_uci_df.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

The dataset has to be converted into a usable csv format. The following files will be made from the original dataset to tackle the 4 tasks listed above.
1. `winequality_white.csv`
2. `winequality_red.csv`
3. `winequality.csv`

In [5]:
def convert_wine(old_file, new_file):
    with open(old_file, newline='') as o_file:
        o_file_content = csv.reader(o_file, delimiter=';')
        
        with open(new_file, 'w', newline='') as n_file:
            n_file_content = csv.writer(n_file, delimiter=',')
            for row in o_file_content:
                n_file_content.writerow(row)
                
# White wine conversion
white_wine_new_file = os.path.join(DATASET_DIR, 'winequality_white.csv')
convert_wine(os.path.join(DATASET_DIR, 'winequality-white.csv'), white_wine_new_file)

# Red wine conversion
red_wine_new_file = os.path.join(DATASET_DIR, 'winequality_red.csv')
convert_wine(os.path.join(DATASET_DIR, 'winequality-red.csv'), red_wine_new_file)

In [6]:
white_wine_df = pd.read_csv(white_wine_new_file)
white_wine_df['type'] = 'white'  # add column indicating the type of wine
white_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [7]:
white_wine_df.shape

(4898, 13)

In [8]:
red_wine_df = pd.read_csv(red_wine_new_file)
red_wine_df['type'] = 'red'  # add column indicating the type of wine
red_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [9]:
red_wine_df.shape

(1599, 13)

In [10]:
wine_df = pd.concat([white_wine_df, red_wine_df], axis=0)
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [11]:
wine_df.shape

(6497, 13)

The combined dataframe will need to be reshuffled since, as is, the white wines are all before the red wines.

In [12]:
wine_df = wine_df.sample(frac=1, random_state=42).reset_index(drop=True)
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.25,0.45,2.3,0.045,40.0,118.0,0.99064,3.16,0.48,11.9,7,white
1,7.6,0.14,0.74,1.6,0.040,27.0,103.0,0.99160,3.07,0.40,10.8,7,white
2,6.2,0.15,0.27,11.0,0.035,46.0,116.0,0.99602,3.12,0.38,9.1,6,white
3,6.7,0.16,0.32,12.5,0.035,18.0,156.0,0.99666,2.88,0.36,9.0,6,white
4,6.8,0.27,0.22,17.8,0.034,16.0,116.0,0.99890,3.07,0.53,9.2,5,white

In [13]:
wine_df.shape

(6497, 13)

The combined and reshuffled dataframe is saved to csv.

In [14]:
wine_df.to_csv(os.path.join(DATASET_DIR, 'winequality.csv'), index=False)